<h1><%= @user.name %></h1>

<%# number of reviews %>
<p>   Number of reviews:
<%= @user.num_of_reviews %>
<%# average rating for reviews %>
   Average rating for reviews:
<%= @user.average_rating %>
<%# most reviews in a neighborhood %>
   Favorite Neighborhood:
<%= @user.most_reviewed_hood.name %>
</p>

<% if @user != current_user && !current_user.followees.include?(@user) %>
  <%= button_to "follow", friendships_path, {params: {:followee_id => @user.id, :user_id => current_user.id}}  %>
<% elsif current_user.followees.include?(@user) && @user != current_user %>
  <%= button_to "following", friendship_path, {method: :delete, params: {followee_id: @user.id}} %>
<% end %>

<% @user.reviews.each do |review| %>
<h3><%= link_to review.activity.name, activity_path(review.activity) %></h3>

<p><%= review.rating %>/5 </p>
<p><%= review.description %></p>


<%= button_to "Edit Review", edit_review_path(review), {method: :get} if current_user == review.user %>
<%= button_to "Delete Review", review_path, {method: :delete, params: {user_show: true, review_id: review.id}} if current_user == review.user %>

<% end %>


<h4>Yo Friends</h4>
<% @user.followees.each do |f| %>
<%= link_to f.name, user_path(f) %>
<% end %>

<h4>Recent Friend Reviews</h4>
<% @user.top_ten_followee_reviews.each do |fr| %>
<p><%= link_to fr.user.name, user_path(fr.user) %>
  <%= link_to fr.activity.name, activity_path(fr.activity) %>
  Rating:
<%= fr.rating %>/5
<%= fr.description %></p>
<% end %>
