<h1><%= @neighborhood.name %></h1>

  <img src=<%= @neighborhood.hood_pic %>>

<p><%= @neighborhood.description %></p>

<%= form_tag neighborhood_path(@neighborhood), method: :get do %>
  <%= label_tag :category %>
  <%= collection_select :search, :category, @CATEGORY, :to_s, :capitalize, prompt: true  %>

  <%= label_tag :setting %>
  <%= collection_select :search, :setting, @SETTING, :to_s, :capitalize, prompt: true  %>

  <%= submit_tag "Filter" %>
<% end %>

<br>

<% @activities.each do |activity| %>
  <%= link_to activity.name, activity_path(activity) %><br>
<% end %>

<p><%= button_to "Add activity", new_activity_path(@neighborhood.id), method: :get %></p><br>
