
<% if flash[:a_errors] || flash[:tod_errors]%>
  <% flash[:a_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
  <% flash[:tod_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @activity do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :category %><br>
<%= f.collection_select :category, @CATEGORY, :to_s, :capitalize, prompt: true  %><br>

<%= fields_for @time_of_day do |f|  %>
  <p>Choose all that apply</p>
<%= f.label :morning %>
<%= f.check_box :morning %>

<%= f.label :afternoon %>
<%= f.check_box :afternoon %>

<%= f.label :evening %>
<%= f.check_box :evening %>

<%= f.label :late_night %>
<%= f.check_box :late_night %><br>
<% end %>

<%= f.label :setting %><br>
<%= f.collection_select :setting, @SETTING, :to_s, :capitalize, prompt: true  %><br>

<%= f.hidden_field :neighborhood_id, :value => session[:neighborhood_id] %>

<%= f.label :url_link %><br>
<%= f.text_field :url_link %><br>
<%= f.submit %>
<% end %>
