<h1> <%= @activity.name %> </h1>

<h3> <%= @activity.neighborhood.name %> </h3>

<h3>Category: <%= @activity.category.capitalize %></h3>

<h3>This is an <%= @activity.setting %> activity</h3>

<h3>Best time to go: <%= @activity.tod.join(", ") %></h3>

<h3>Average Ratings: <%= @activity.average_rating.round(2) %> / 5 (out of <%= @activity.reviews.length %> <%= @activity.reviews.length == 1 ? "review" : "reviews" %>)</h3>



<% if @activity.url_link %>
<p><%= link_to "visit their website", @activity.url_link %></p>
<% end %>

<h2>Reviews</h2>
<% @activity.reviews.each do |review| %>
<p><%= review.description %><br>
Rating: <%= review.rating %>/5 <br>
<% if review.picture %>
<img src= <%= review.picture.img_url %>><br>
<%= review.picture.caption %><br>
<% end %>
- <%= review.user.name %></p>

<%= button_to "Delete Review", review_path, {method: :delete, params: {user_show: true, review_id: review.id}} if current_user == review.user %>
<% end %>

<p><%= button_to "Review This", new_review_path(@activity.id), method: :get %></p><br>
