<div class="form-container">

<h1>Edit Review</h1>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>
<%= form_for @review do |f| %>
<%= f.label :description %><br>
<%= f.text_field :description %><br>
<%= f.label :rating %><br>
<%= f.text_field :rating %><br>
<%= f.hidden_field :user_id, :value => params[:format] %><br>
<%= f.submit %>
<% end %>

</div>
