<!DOCTYPE html>
<html>
  <head>
    <title>Jack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
  </head>

  <body>
    <div id="navbar">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to "Hood", neighborhoods_path %>
      </button>

      <button type="button" class="btn btn-outline-info">
        <% if current_user %>
        <%= link_to current_user.name, user_path(current_user) %>
      </button>
      <button type="button" class="btn btn-outline-danger">
        <%= link_to "Log Out", logout_path, method: :delete %>
      </button>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
